.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo:nth-child(odd) {
    animation-direction: reverse;
    animation-duration: 3s;
  }
}

@keyframes App-logo-spin {
  0% {
    /*height: 40vmin; */
    transform: rotate(0deg);
  }
  50% {
    /* height: 20vmin; */
  }
  100% {
    /* height: 40vmin; */
    transform: rotate(360deg);
  }
}